footer {
  background-color: #f2f2f2;
  min-height: var(--header-height);
  box-shadow: rgba(0,0,0,0.2) 0 12px 18px -21px inset;
  border-top: 1px solid lightgray;
  margin-top: 48px;

  .container {
    max-width: var(--desktop-width);
    margin: auto;
    padding: 24px 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  h4 {
    margin-bottom: 12px;
  }

  ul {
    margin-top: 12px;
  }

  .social a {
    margin: 6px 18px;
    filter: brightness(20%) saturate(0%);
    color: rgb(41, 108, 167);
    transition: all 0.5s;

    &.green {
      color: rgb(41, 167, 87);
    }
    
    &:hover {
      filter: brightness(90%) saturate(100%);
      transition: all 0.5s;
    }
  }

}