// depends on bodyComponent in scope

.devIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding-bottom: 36px;
  border-bottom: 1px solid lightgray;

  &:last-child {
    border-bottom: none;
  }

  svg {
    width: 75px;
    height: 75px;
    margin: 12px;
  }

  .icon {
    line-height: 55px;
  }

  &.priority svg {
    width: 100px;
    height: 100px;
  }

  &.subtle svg {
    width: 60px;
    height: 60px;
  }

}

.now_note {
  background: rgb(193, 240, 201);
  border-radius: 6px;
  padding: 6px 18px;
  box-shadow: darkgrey 0px 3px 12px -6px;
}