:root {
  --background: #fbfbfb;
  --p-color: #222; 
  --midgray: #555;
  --solo-teal: #75caf7;
  --nice-teal: linear-gradient(15deg, var(--solo-teal), #6ddcbe);
  --desktop-width: 1240px;
  --logo-width: 380px;
  --header-height: 100px;
  --form-focus: var(--solo-teal);
}